# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
charts/.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/

# Helm lint/test
.helm-lint.yaml
.helm-test.yaml

# Development artifacts
TODO.md
README-old.md
NOTES.txt
values.schema.json
_docs/*
_docs/
_debug_values_overrides.yaml
_deploymentX-values-overrides.yaml
